src/main/app/create-closure-wo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="createClosureWorkOrder">
        <logger message="Starting createClosureWorkOrder" level="INFO" doc:name="Logger"/>
        <set-variable variableName="closureCreate" value="true" mimeType="application/java" doc:name="Variable"/>

        <dw:transform-message doc:name="Create Soap Message Aria">
            <dw:set-payload resource="classpath:dataweave/create-closure-wo.dwl"/>
        </dw:transform-message>

        <logger message="Requesting of Aria - Closure WorkOrder Create #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration_to_Sys_Aria" path="${aria.closure.path}?SplitBillingAccounts=#[flowVars.splitBillingAccount]" method="POST" doc:name="createOrderAria">
            <http:success-status-code-validator values="0..599"/>
        </http:request>
        <logger message="Back from Aria - Closure WorkOrder Create #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="ariaResults"><![CDATA[%dw 1.0
%output application/java
---
payload.aria_workflow_response]]></dw:set-variable>

        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[flowVars.ariaResults.workflow_response_message == 'OK']">
                <dw:transform-message doc:name="set ariaErrorMsg">
                    <dw:set-payload resource="classpath:dataweave/set-ariaerror-msg.dwl"/>
                </dw:transform-message>
                <logger message="The aria error response is:  #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Invalid Response from Aria. http status: #[message.inboundProperties['http.status']]" level="INFO" doc:name="Logger"/>
                <set-property propertyName="http.status" value="${http.error.status}" doc:name="Property"/>
            </otherwise>
        </choice>

        <logger message="Ending createClosureWorkOrder" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
