src/main/app/process-closure-wo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
<flow name="closureWorkOrderProcessingFlow">
        <logger message="Starting closureWorkOrderProcessingFlow" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dataweave/process-closure-wo.dwl"/>
        </dw:transform-message>
        <logger message="#[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="splitBillingAccount"><![CDATA[%dw 1.0
%output application/java
---
payload map ($ joinBy "|") joinBy ";"]]></dw:set-variable>
            <dw:set-variable variableName="ariaAcct"><![CDATA[%dw 1.0
%output application/java
---
payload[0].ariaAcct]]></dw:set-variable>
            <dw:set-variable variableName="ariaMPI"><![CDATA[%dw 1.0
%output application/java
---
payload[0].ariaMPI]]></dw:set-variable>
        </dw:transform-message>
        <logger message="Ending closureWorkOrderProcessingFlow" level="INFO" doc:name="Logger"/>
</flow>
</mule>
