src/main/app/process-non-closure-wo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="nonClosureWorkOrderProcessingFlow">
        <logger message="Starting nonClosureWorkOrderProcessingFlow" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dataweave/process-nonclosure-wo.dwl"/>
        </dw:transform-message>
        <set-variable variableName="totalSplitAmount" value="#[0.00]" doc:name="Variable"/>
        <set-variable variableName="outsize" value="#[payload.size()]" doc:name="Variable"/>
        <set-variable variableName="nonclose" value="#[new java.util.ArrayList()]" doc:name="Variable"/>
        <foreach doc:name="For Each">
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload resource="classpath:dataweave/process-each-nonclosure-wo.dwl"/>
            </dw:transform-message>
            <set-variable variableName="totalSplitAmount" value="#[payload.addedSplitAmount]" doc:name="Variable"/>
            <expression-component doc:name="Expression"><![CDATA[#[flowVars.nonclose.add(payload)]]]></expression-component>
        </foreach>
        <set-payload value="#[flowVars.nonclose]" doc:name="Set Payload"/>
        <logger message="Ending nonClosureWorkOrderProcessingFlow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
